@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form method="post">
    <h3>Recipe Name</h3>
    <input type="text" name="recipeName" />
    <h3>Recipe Description</h3>
    <textarea name="description">  </textarea>
    <button type="submit" name="" value="" >Submit</button>
</form>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>