@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kitchener</h1>
    <p class="lead">What's for dinner? What to buy? Do they know things? Let's find out!</p>
</div>



<div class="row">
    <div class="col col-md-4">
        <h2>Add Inventory</h2>
        <p>
            Enter purchased items, or take a picture of a receipt to bulk enter.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Go &raquo;</a></p>
    </div>
    <div class="col col-md-4">
        <h2>Add Recipe</h2>
        <p>
            Add a recipe for a meal.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Go &raquo;</a></p>
    </div>
    <div class="col col-md-4">
        <h2>Cook Recipe</h2>
        <p>
            Cook a recipe, decrementing ingredient levels in inventory.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Go &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col col-md-4">
        <h2>Add SKUs</h2>
        <p>
            Add additional Trader Joe's products to the product database.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Go &raquo;</a></p>
    </div>
    <div class="col col-md-4">
        <h2>Generate Shopping List</h2>
        <p>
            Generate a shopping list by selecting which recipes to cook for the week.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Go &raquo;</a></p>
    </div>
    <div class="col col-md-4">
        <h2>View/Audit Full Inventory</h2>
        <p>
            See what is currently in inventory, and validate against actual physical inventory.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Go &raquo;</a></p>
    </div>
</div>