
@{
    ViewBag.Title = "Add SKU";
}

<h2>Add SKU</h2>

<form method="POST">
    <div class="form-group">
        <label for="skuName">Name</label>
        <input type="text" class="form-control" name="skuName" id="skuName" />
    </div>

    <div class="form-group">
        <label for="skuStore">Store</label>
        <input type="text" class="form-control" name="skuStore" id="skuStore" />
    </div>

    <div class="form-group">
        <label for="skuUnitSize">Unit Size</label>
        <input type="text" class="form-control" name="skuUnitSize" id="skuUnitSize" />
    </div>

    <button type="submit" class="btn btn-primary">Add SKU</button>


</form>

